{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    //runtime - теперь я могу использовать async-await
    "plugins": [
        ["@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
}